html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
}

.header__center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0 2vw;
  cursor: pointer;
}

.header__right {
  display: flex;
}

.navbar_links {
  display: flex;
  gap: 10px;
}

.header__info {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.header__info>span {
  margin-left: 10px;
}

.header__option.active::after {
  color: #1877f2;
  border-bottom: 5px solid cyan;
}

.header__option:hover {
  border-bottom: 5px solid cyan;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

pre {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.vertical-center {
  margin-top: 10%
}

@media screen and (max-width: 600px) {
  .navbar_links {
    display: flex;
    flex-direction: column;
  }
}