{% extends "layout.html" %}
{% block content %}

<body>
    <div class="container">
        <h2 class="mb-3">Admin Dashboard</h2>
        <div>
            <ul class="admin-detail d-flex flex-wrap">
                <li class="list-group-item list-group-item-primary">Total Number of Users: {{ users }}</li>
                <li class="list-group-item list-group-item-success">Total Number of Creators: {{ creators }}</li>
                <li class="list-group-item list-group-item-danger">Total Number of Songs: {{ songs }}</li>
                <li class="list-group-item list-group-item-warning">Total Number of Albums: {{ albums }}</li>
            </ul>
        </div>
        <div class="plot d-flex flex-wrap">
            <img src="data:image/png;base64,{{ current_users_plot }}" alt="Current User Line Chart" width="600" height="460">
            <img src="data:image/png;base64,{{ song_rating_hist }}" alt="Song Rating Histogram" width="600" height="460">
        </div>
    </div>
</body>
{% endblock %}