{% extends "layout.html" %}
{% block content %}

<body>
    <div class="container">
        <h1>Songs in the Album: {{ album.album_name }}</h1>
        <br>
        <br>
        {% if length == 0 %}
        <h4>Album doesn't contain any songs. </h4>
        {% else %}
        {% for song in songs %}
        <div class="card w-75">
            <div class="card-body">
                <h4 class="card-title">{{song.song_title}}</h4>
                <a class="btn btn-outline-secondary mb-2" data-bs-toggle="collapse" data-bs-target="#lyrics-{{ song.song_id }}">Show/Hide Lyrics</a>
                <div id="lyrics-{{ song.song_id }}" class="collapse">
                    <pre>{{ song.lyrics }}</pre>
                </div>
                <audio class="w-100" controls>
                    <source src="{{ url_for('static', filename='songs/'+song.song_file) }}" type="audio/mp3" />
                </audio>
                <a href="{{ url_for('update_song', song_id=song.song_id) }}" class="btn btn-primary">Update</a>
                <a href="{{ url_for('delete_song', song_id=song.song_id) }}" class="btn btn-primary">Delete</a>
            </div>
        </div>
        <br>
        {% endfor %}
        {% endif %}
    </div>
</body>
{% endblock %}