{% extends "layout.html" %}
{% block content %}

<body>
    <div class="container">
        <h1>Your Albums</h1>
        <div class="buttons">
            <a href="{{ url_for('new_album') }}" class="btn btn-light border" role="button">Create a new Album</a>
        </div>
        <br>
        <br>
        {% if length == 0 %}
        <h4>You haven't created any Albums yet. Create and share yours albums with the community now 📼</h4>
        {% else %}
        {% for album in albums %}
        <a href="{{url_for('get_album', album_id=album.album_id)}}", style="text-decoration: none; color:#212529">
            <div class="card w-75">
                <div class="card-body">
                    {% if album.is_flagged %}
                    <h5 class="card-title mb-1">{{album.album_name}} &nbsp <span style="color:red;"><b>FLAGGED</b></span></h5>
                    {% else %}
                    <h5 class="card-title mb-1">{{album.album_name}}</h5>
                    {% endif %}
                    <p class="card-text mb-3">Genre: {{album.genre}}</p>
                    <a href="{{ url_for('update_album', album_id=album.album_id) }}" class="btn btn-primary">Update</a>
                    <a href="{{ url_for('delete_album', album_id=album.album_id) }}" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </a>
        <br>
        {% endfor %}
        {% endif %}
    </div>
</body>
{% endblock %}