{% extends "layout.html" %}
{% block content %}

<body>
    {% if not current_user.is_authenticated %}
    <div class="container vertical-center d-flex flex-column align-items-center">
        <img src="{{ url_for('static', filename='logo.png') }}" width="300" height="190" />
        <h3>Dive into the world of Music today.</h3>
        <div class="buttons">
            <a href="{{ url_for('register') }}" class="btn btn-light border" role="button">Register</a>
            <a href="{{ url_for('login') }}" class="btn btn-light border" role="button">Login</a>
        </div>
    </div>
    {% else %}
    {% for song in songs %}
        <div class="card w-75 container">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h4 class="card-title mb-0">{{song.song_title}}&nbsp &nbsp &nbsp</h4>
                    {{ average_rating }}&nbsp<i class="fa-solid fa-star"></i>
                </div>
                {% if song.creator %}
                <h6 class="card-title mt-1">By: {{ song.creator.user.username }}</h6>
                {% endif %}
                <a class="btn btn-outline-secondary mb-2" data-bs-toggle="collapse" data-bs-target="#lyrics-{{ song.song_id }}">Show/Hide Lyrics</a>
                <div id="lyrics-{{ song.song_id }}" class="collapse">
                    <pre>{{ song.lyrics }}</pre>
                </div>
                <a href="{{ url_for('play_counter', song_id=song.song_id) }}">
                    <audio class="w-100" controls>
                        <source src="{{ url_for('static', filename='songs/'+song.song_file) }}" type="audio/mp3" />
                    </audio>
                </a>
                <a href="{{ url_for('add_to_playlist', song_id=song.song_id) }}" class="btn btn-primary">Add to Playlist</a>
                <a href="{{ url_for('rate_song', song_id=song.song_id) }}" class="btn btn-primary">Rate</a>
            </div>
        </div>
        <br>
        {% endfor %}
    {% endif %}
</body>
{% endblock %}