<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/" method="POST" id="login-form">
        <div>
            <label>Username:</label>
            <input type="text" name="username" required />
        </div>
        <br>
        <div>
            <label>Password:</label>
            <input type="text" name="password" required />
        </div>
        <br>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>