{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <form method="POST" action="{{ url_for('new_song') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Create a New Song</legend>
                <div class="form-group">
                    {{ form.song_title.label(class="form-control-label") }}
                    {% if form.song_title.errors %}
                        {{ form.song_title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.song_title.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.song_title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.song_file.label() }}
                    {{ form.song_file(class="form-control-file") }}
                    {% if form.song_file.errors %}
                        {% for error in form.song_file.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.lyrics.label(class="form-control-label") }}
                    {% if form.lyrics.errors %}
                        {{ form.lyrics(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lyrics.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lyrics(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.album.label(class="form-control-label") }}
                    {% if form.album.errors %}
                        {% for error in form.album.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {{ form.album }}
                </div>
            </fieldset>
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}