{% extends "layout.html" %}
{% block content %}

<body>
    {% for song, average_rating in search_result %}
    {% if song.creator and not (song.is_flagged or song.creator.is_blacklisted) %}
    <div class="card w-75 container">
        <div class="card-body position-relative">
            <div class="d-flex align-items-center">
                <h4 class="card-title mb-0">{{ song.song_title }}&nbsp &nbsp &nbsp</h4>
                {% if average_rating %}
                <div class="rating position-absolute"><b>{{ average_rating|round(2) }}</b>&nbsp<i
                        class="fa-solid fa-star"></i></div>
                {% else %}
                <div class="rating position-absolute"><b>0</b>&nbsp<i class="fa-solid fa-star"></i></div>
                {% endif %}
            </div>
            <h6 class="card-title mt-1">By: {{ song.creator.user.username }}</h6>
            <a class="btn btn-outline-secondary mb-2" data-bs-toggle="collapse"
                data-bs-target="#lyrics-{{ song.song_id }}">Show/Hide Lyrics</a>
            <div id="lyrics-{{ song.song_id }}" class="collapse">
                <pre>{{ song.lyrics }}</pre>
            </div>
            <audio class="w-100" controls>
                <source src="{{ url_for('static', filename='songs/'+song.song_file) }}" type="audio/mp3" />
            </audio>
            <a href="{{ url_for('add_to_playlist', song_id=song.song_id) }}" class="btn btn-primary">Add to Playlist</a>
            <a href="{{ url_for('rate_song', song_id=song.song_id) }}" class="btn btn-primary">Rate</a>
        </div>
    </div>
    <br>
    {% endif %}
    {% endfor %}
</body>

{% endblock %}