{% extends "layout.html" %}
{% block content %}

<body>
    <div class="container">
        <h1>User: {{ current_user.username }}</h1>
        <h3>Your Playlists</h3>
        <div class="buttons">
            <a href="{{ url_for('new_playlist') }}" class="btn btn-light border" role="button">Create a new Playlist</a>
        </div>
        <br>
        <br>
        {% if length == 0 %}
        <h4>You haven't created any Playlists yet.</h4>
        {% else %}
        {% for playlist in playlists %}
        <a href="#",
            style="text-decoration: none; color:#212529">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title mb-1">{{playlist.playlist_name}}</h5>
                    <p class="card-text mb-3">{{playlist.playlist_desc}}</p>
                    <a href="{{ url_for('update_playlist', playlist_id=playlist.playlist_id) }}"
                        class="btn btn-primary">Update</a>
                    <a href="{{ url_for('delete_playlist', playlist_id=playlist.playlist_id) }}"
                        class="btn btn-primary">Delete</a>
                </div>
            </div>
        </a>
        <br>
        {% endfor %}
        {% endif %}
    </div>
</body>
{% endblock %}